html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	color: whitesmoke;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav_item {
	text-decoration: none;
}
/* .router-link-exact-active > p {
	color: greenyellow;
} */
.nav_item--active > p {
	color: greenyellow;
}

.p-inputtext {
	font-size: 28px !important;
}

.p-floatlabel:has(input.p-filled) > label {
	font-size: 14px !important;
	background: transparent;
}

.p-floatlabel:has(.p-inputwrapper-filled) label {
	font-size: 14px !important;
	background: transparent;

}